@use './../abstracts/breakpoints' as media;

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.query('>=sm') {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 92%;
  }
}

.list-wrapper {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title-wrapper {
    width: 100%;
  }

  &__title {
    border: 2.5px solid transparent;
    margin-top: 3rem;
    color: #222;
    font-size: 1.8rem;
    text-align: left;

    @include media.query('>=sm') {
      font-size: 2rem;
    }
  }
}

.card {
  margin: 1rem 0;
  list-style: none;
  border: 2.5px solid transparent;
  transition: border 0.2s ease-in-out;
  flex-grow: 1;

  @include media.query('>=sm') {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:focus {
    outline: 0;
    border: 2.5px solid $primary-focus;
  }

  &__link {
    width: 100%;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.15s ease-in-out;
  }

  &__img-wrapper {
    overflow: hidden;
    border-radius: 8px;
    width: 275px;
    height: 275px;
    margin-bottom: 0.5rem;

    @include media.query('>=sm') {
      width: 315px;
      height: 315px;
    }

    @include media.query('>=md') {
      width: 340px;
      height: 340px;
    }

    @include media.query('>=lg') {
      width: 375px;
      height: 375px;
    }
  }

  &:hover &__img {
    transform: scale(1.1);
  }

  &__description {
    color: rgb(34, 34, 34);
    font-size: 1rem;
    letter-spacing: 0.025rem;
    font-weight: 700;

    @include media.query('>=sm') {
      font-size: 1.15rem;
    }
  }
}
