@use './../abstracts/breakpoints' as media;

.museum {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  &__content-wrapper {
    display: flex;
    flex-direction: column;

    @include media.query('>=sm') {
      margin: 0 1rem;
    }

    @include media.query('>=md') {
      margin: 0rem;
    }

    @include media.query('>=lg') {
      &:first-child {
        margin-right: 8rem;
      }
    }
  }

  &__img-wrapper {
    overflow: hidden;
    height: 200px;

    @include media.query('>=sm') {
      width: 100%;
    }

    @include media.query('>=lg') {
      height: 100%;
    }
  }

  &__img {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    border-radius: 8px;

    @include media.query('>=sm') {
      width: 100%;
    }

    @include media.query('>=md') {
      width: auto;
      height: 350px;
    }

    @include media.query('>=lg') {
      width: 150%;
    }
  }

  &__title {
    margin-top: 0.8rem;
    color: #424242;
    font-size: 1.2rem;
    font-family: $primary-font;

    @include media.query('>=xsm') {
      font-size: 1.4rem;
    }
  }

  &__description {
    color: #6e6e6e;
    font-size: 0.8rem;
    line-height: 180%;
    text-align: left;
    margin: 0.2rem 0 0.8rem 0;

    @include media.query('>=xsm') {
      font-size: 1rem;
    }
  }

  @include media.query('>=lg') {
    flex-direction: row;
    align-items: center;
    height: auto;
  }
}
