@use './../abstracts/breakpoints' as media;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  position: fixed;
  z-index: 400;
  transition: background-color 0.3s ease-in-out;

  &--active {
    background-color: #fff;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }

  &__link-wrapper {
    outline: 2.5px solid transparent;
    transition: outline 0.3s ease-in-out;

    &:focus {
      outline: 2.5px solid $primary-focus;
    }

    &--active:focus {
      outline: 2.5px solid $secondary-focus;
    }
  }

  &__link {
    font-size: 0.7rem;
    color: rgb(238, 238, 238);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    position: relative;
    padding-bottom: 0.2rem;
    outline: 2.5px solid transparent;
    transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;

    &--active {
      color: rgb(71, 71, 71);

      &:hover {
        color: #000 !important;
      }

      &::after {
        background-color: #000 !important;
      }
    }

    &:focus {
      outline: 2.5px solid $primary-focus;
    }

    &--active:focus {
      outline: 2.5px solid $secondary-focus;
    }

    &:hover {
      color: #fff;
    }

    &::after {
      content: '';
      display: block;
      background-color: #fff;
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    @include media.query('>=sm') {
      font-size: 0.9rem;
    }

    @include media.query('>=md') {
      font-size: 1rem;
    }
  }

  &__link--spacing {
    margin-left: 1rem;

    @include media.query('>=xsm') {
      margin-left: 1.2rem;
    }

    @include media.query('>=md') {
      margin-left: 3rem;
    }

    @include media.query('>=lg') {
      margin: 0 3rem;
    }
  }

  &__menu-icon {
    width: 18px;
    height: 18px;
    fill: rgb(238, 238, 238);
    cursor: pointer;
    outline: 2.5px solid transparent;
    transition: fill 0.3s ease-in-out;

    &--active {
      fill: rgb(71, 71, 71);

      &:hover {
        fill: #000 !important;
      }
    }

    &:hover {
      fill: #fff;
    }

    @include media.query('>=sm') {
      width: 24px;
      height: 24px;
    }

    @include media.query('>=md') {
      width: 30px;
      height: 30px;
    }

    @include media.query('>=lg') {
      margin: 0 1rem;
    }
  }
}
