@use './../abstracts/breakpoints' as media;

.preloader {
  background-color: #101010;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0px;
  transition: top 1s cubic-bezier(0.705, -0.095, 0, 1.06);
  transition-timing-function: cubic-bezier(0.705, -0.095, 0, 1.06);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.3rem;
  font-family: $secondary-font;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    color: $primary-preloader;
    font-size: 3rem;
    width: 100%;
    font-weight: 700;
    font-family: $secondary-font;

    @include media.query('>=xsm') {
      font-size: 3.8rem;
    }

    @include media.query('>=sm') {
      font-size: 5rem;
    }

    @include media.query('>=md') {
      font-size: 6rem;
    }
  }

  &__enter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__description {
    font-family: $secondary-font;
    font-weight: 300;
    color: $secondary-preloader;
  }

  &__arrow {
    width: 30px;
    height: 30px;
    position: relative;
    right: 0;
    transition: right 0.15s ease-in-out;
  }

  &__arrow path {
    stroke: $secondary-preloader;
  }

  &__enter:hover &__arrow {
    right: -5px;
  }

  &__enter {
    outline: 0;
    color: $primary-preloader;
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-transform: lowercase;
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border: 1.5px solid transparent;
    cursor: pointer;

    &:focus {
      border: 1.5px solid $secondary-focus;
    }

    @include media.query('>=xsm') {
      font-size: 1.15rem;
    }

    @include media.query('>=sm') {
      font-size: 1.25rem;
    }
  }
}
