@use './../abstracts/breakpoints' as media;

.slider-menu {
  position: absolute;
  background-color: #101010;
  height: 100vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 0;
  top: 0px;
  left: 0px;
  transition: width 1s cubic-bezier(0.705, -0.095, 0, 1.06);
  transition-timing-function: cubic-bezier(0.705, -0.095, 0, 1.06);
  overflow: hidden;

  &--active {
    width: 100%;
  }

  &__list {
    margin-top: 2rem;
  }

  &__list-item {
    list-style: none;
    margin: 0.5rem 0 4rem 4rem;

    @include media.query('>=md') {
      margin: 0.5rem 0 4rem 6rem;
    }
  }

  &__list-link {
    font-family: $secondary-font;
    color: rgb(207, 207, 207);
    font-size: 1rem;
    transition: color 0.2s ease-in-out;
    outline: 2.5px solid transparent;
    transition: outline 0.3s ease-in-out, left 0.15s ease-in-out;
    position: relative;
    left: 0;

    &:focus {
      outline: 2.5px solid $primary-focus;
    }

    &:hover {
      color: #fff;
      left: 10px;
    }

    @include media.query('>=xsm') {
      font-size: 1.2rem;
    }

    @include media.query('>=md') {
      font-size: 1.5rem;
    }

    @include media.query('>=lg') {
      font-size: 1.8rem;
    }
  }

  &__icon-wrapper {
    margin: 2rem;
    outline: 2.5px solid transparent;
    transition: outline 0.3s ease-in-out;

    &:focus {
      outline: 2.5px solid $primary-focus;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: rgb(207, 207, 207);
    transition: fill 0.2s ease-in-out;

    &:hover {
      fill: #fff;
    }
  }
}