// ABSTRACT
@import './abstracts/variables';
@import './abstracts/functions';

// BASE
@import './base/reset';

// COMPONENTS
@import './components/headings';
@import './components/preloader';
@import './components/title';
@import './components/view';
@import './components/card';
@import './components/nav';
@import './components/intro';
@import './components/museum';
@import './components/contact';
@import './components/footer';
@import './components/slider-menu';
@import './components/button-icon';
