*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Fraunces', serif;
}

html, body {
  font-size: $root-font-size;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
